.best__members {
  font-size: 18px;
  margin-bottom: 30px;
}
@media (min-width: 767.98px) {
  .second-sect {
    margin-top: 2800px;
  }
}
@media (min-width: 991px) {
  .best__members {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }

  .second-sect {
    margin-top: 300px;
  }

  .best__member {
    border: 1px solid #555555;
    border-radius: 10px;
    padding: 50px;
  }
}
.best__member {
  margin-bottom: 20px;
}
.best__img img {
  border-radius: 10px;
  object-fit: cover;
  max-width: 100%;
}
.best__img {
  margin-bottom: 10px;
}
.best__text {
}
.best__info {
  margin-bottom: 15px;
}
.best__info span {
  font-weight: 700;
}
.best__work {
  margin-bottom: 15px;
}
.best__work span {
  font-weight: 700;
}
.best__btn {
  display: inline-block;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 10px;
}

a {
  cursor: pointer !important;
}

/* Container for the buttons */
.button-container {
  display: flex;
  gap: 12px;
}

/* Gradient button styling */
.gradient-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  border-radius: 4px;
  height: 48px;
  text-decoration: none;
}

.gradient-button .icon {
  margin-left: 8px;
}

/* Outline button styling */
.outline-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #007bff;
  border: 2px solid #007bff;
  border-radius: 4px;
  height: 48px;
  text-decoration: none;
  text-align: center;
}

.outline-button .icon {
  margin-left: 8px;
}

/* Hover effects */
.gradient-button:hover {
  opacity: 0.9;
}

.outline-button:hover {
  background-color: #007bff;
  color: white;
}

@media (max-width: 768px) {
  .calc {
    order: 0;
  }
  .inf {
    order: 1;
  }
}
.alert {
  font-weight: 700;
  color: red;
}

.popup-message-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

/* Стиль для видимого состояния */
.popup-message-overlay.show {
  visibility: visible;
  opacity: 1;
}

/* Стиль для окна сообщения */
.popup-message-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Стиль текста */
.popup-message-content p {
  color: red;
  font-weight: bold;
  font-size: 18px;
  margin: 0 0 15px;
}

/* Стиль кнопки */
.popup-message-close {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}
